#main{
    background-color: khaki;
    display: block;
    margin-left:auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text]{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

#email{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

#number{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

input[type=dropdown]{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

#big-title{
    text-align: center;
    font-size: 30px;
}

#description{
    text-align: center;
    font-size: 40%;
    white-space: normal;
    /* padding: 1%; */
}

#survey-form{
    background-color: dodgerblue;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.input-checkbox{
    display: grid;
    grid-template-columns: auto 1fr;
}

@media (min-height:100px){
    
    #survey-form{
    max-width:100%;
    height:auto;
    margin:2% 10% 0% 10%;
    padding:5% 5% 0% 5%;
}
}