#main{
    background-color: khaki;
    display: block;
    margin-left:auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title{
    text-align: center;
    font-size: 200%;
}

#description{
    text-align: center;
    font-size: 75%;
    white-space: normal;
    margin-top: 1%;
}


input[type=text]{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

#email{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

#number{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

input[type=dropdown]{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1% 2%;
    box-sizing: border-box;
    border: 0.5% solid black;
    border-radius: 4px;
}

#survey-form{
    background-color: dodgerblue;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.radio-list{
    display: flex;
    flex-direction: column;
}

.checkbox-list{
    display: flex;
    flex-direction: column;
}

.input-checkbox{
    display: grid;
    grid-template-columns: auto 1fr;
}

@media (min-height:100px){
    
    #survey-form{
    max-width:100%;
    height:auto;
    margin:2% 10% 0% 10%;
    padding:2% 5% 0% 5%;
}

#button{
    display: flex;
    justify-content: center;
}

[type=submit]{
    margin: 2%;
    padding: 1% 1% 1% 1%;
    display: inline-block;
    position: relative;
        background-color: #050505;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 80%;
        width: 10%;
}